body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Space Grotesk', sans-serif;
}

img {
  display: block;
  max-width: 39px;
  margin: 0;
}

header {
  background-image: url(../img/bg-box.svg);
  background-size: cover;
  font-weight: 400;
  text-align: center;
  padding: 40px;;
}

.box_title {
  background:#000000de;
  color: #E3F4FF;
  padding: 35px;
  margin-bottom: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 40px;
}

.disque {
  margin: auto;
  display: flex;
  justify-content: center;
}

.techmag {
  max-width: 190px;
  max-height: 90px;
}

.cta {
  background: #061018;
  color: #E3F4FF;
  padding: 10px 25px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.cta-light {
  background: #E3F4FF;
  color: #061018;
}


.section-light {
  background: #E3F4FF;
  padding-bottom: 25px;
}

.section-dark {
  background: #061018;
  color: #E3F4FF;
  padding-bottom: 70px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  background: #E3F4FF;
  color: #061018;
  padding: 20px;
  margin: 70px 28px 0 28px;
  border-radius: 10px;
}

.card-ill {
  max-width: 106px;
  max-height: 91px;
}

h3 {
  text-align: left;
  padding-left: 13px;
}

a {
  color: #061018;
}

footer {
  background: #061018;
  color: #ffffff30;
  padding: 10px 50px;
  font-size: 12px;
  text-align: center;
}